$colors: (
  darkest: #060629,
  background-color: #1d1e4e,
  backsplash: #2f3180,
  teal: #108690,
  light-blue: #b0dcff,
  accent: #fccf14,
  light-yellow: #ffe169,
  off-white: #fff6d1,
);

$fonts: (
  header: "KoHo",
  text: "Istok Web",
  choices: "Anton",
);
