$colors: (
  darkest-color: #0c0d27,
  background-color: #1d1e4e,
  flexbox-color: #2f3180,
  light-blue: #108690,
  accent-color: #6bd0fd,
  accent: #fccf14,
  light-accent: #ffe169,
  light-accent: #fff0b6,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$fonts: (
  title-font: "KoHo",
  main-font: "Roboto",
);

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

$phone: 600px;
$tablet: 768px;
$laptop: 992px;
$desktop: 1200px;
