@import "_variables.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: font(header);
  font-weight: 500;
}
body {
  background-color: color(darkest);
  background: linear-gradient(to top, color(darkest), color(teal));
  align-content: center;
  text-align: center;
}

header {
  font-size: 15rem;
  font-family: font(header);
  color: color(light-blue);
  margin: 2rem auto;
  text-align: center;
  background-color: color(background-color);
  opacity: 0.8;
  border-bottom: 5rem;
  border-color: color(backsplash);
  border-style: solid;
}

.header-title {
  font-size: 18vh;
  letter-spacing: 1rem;
  text-shadow: color(backsplash) 7px 7px;
  margin-bottom: 2rem;
}

.top-rated {
  text-align: center;
  font-size: 4.6rem;
  font-family: font(text);
  letter-spacing: 0.4rem;
  color: color(teal);
}

.weather {
  font-family: font(text);
  font-size: 3rem;
  color: color(accent);
  background-color: color(teal);
  padding: 5rem;
  margin: 7rem;
  border-radius: 3rem;
}

.submit {
  font-family: font(header);
  background-color: color(teal);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  margin: 3rem;
  color: color(light-blue);
  border-color: color(background-color);
  border-width: 1rem;
}

.inputVal {
  font-size: 3rem;
  font-family: font(text);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  margin: 3rem;
  background-color: color(light-blue);
  border-color: color(teal);
  border-width: 1rem;
  color: color(darkest);
}
