@import "_variables.scss";

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function font($font-name) {
  @return map-get($fonts, $font-name);
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: font(header);
  font-weight: 500;
}
body {
  background-color: color(darkest);
  background: linear-gradient(to top, color(darkest), color(teal));
  align-content: center;
  text-align: center;
}

header {
  font-size: 15rem;
  font-family: font(header);
  color: color(light-blue);
  margin: 2rem auto;
  text-align: center;
  background-color: color(background-color);
  opacity: 80%;
  border-bottom: 5rem;
  border-color: color(backsplash);
  border-style: solid;
}

.header-title {
  font-size: 18vh;
  letter-spacing: 1rem;
  text-shadow: color(backsplash) 7px 7px;
  margin-bottom: 2rem;
}

.top-rated {
  text-align: center;
  font-size: 4.6rem;
  font-family: font(text);
  letter-spacing: 0.4rem;
  color: color(teal);
}

.weather {
  font-family: font(text);
  font-size: 3rem;
  color: color(accent);
  background-color: color(teal);
  padding: 5rem;
  margin: 7rem;
  border-radius: 3rem;
}

.submit {
  font-family: font(header);
  background-color: color(teal);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  margin: 3rem;
  color: color(light-blue);
  border-color: color(background-color);
  border-width: 1rem;
}

.inputVal {
  font-size: 3rem;
  font-family: font(text);
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 4rem;
  margin: 3rem;
  background-color: color(light-blue);
  border-color: color(teal);
  border-width: 1rem;
  color: color(darkest);
}

.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  background-color: white;
  margin: 1rem auto;
  padding: 3rem auto;
  align-items: center;
}
.movie-card {
  height: 65vh;
  width: 20vw;
  margin: 0 auto;
  position: relative;
  margin: 2rem auto;
}
.movie-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background-image: url("https://image.tmdb.org/t/p/w300/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg"); */
  background-position: center;
  z-index: 3;
  transition: all 0.3s;
}
.poster {
  width: 100%;
  height: 100%;
}
.movie-card-back {
  transition: all 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
  width: 100%;
  height: 100%;
}
.movie-card-header {
  font-size: 2.4rem;
  text-transform: uppercase;
  margin: 1rem auto;

  text-align: center;
}
.score-box,
.release-box {
  text-align: center;
}

.movie-genres {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.movie-genre {
  list-style: none;
}
.user-score {
  font-size: 2rem;
}
.release-date {
  font-size: 2rem;
}

.movie-card:hover .movie-card-front {
  z-index: 1;
}
.movie-card:hover .movie-card-back {
  z-index: 3;
  display: flex;
}
.test {
  color: black;
  font-size: 3rem;
}
